<!-- This page will have FAQ, About, and Contact info -->
<!-- Questions to answer are: -->
<!-- What is MDW?, Who's behind MDW?, How do I submit? -->
<!-- How do I delete posts? How do I report posts? -->
<!-- How can I contact you? -->
<!-- Needs to have personality, not sound like a robot -->
<!-- Can include Privacy Policy here and also include -->
<!-- the legal stuff as well. Have an expandable list -->
<!-- so not everything is visible at once or can use -->
<!-- HTML anchors -->

<h1>StaticPages#faq</h1>
<p>Find me in app/views/static_pages/faq.html.erb</p>
