<!-- This page will have posts, starting with most recent -->
<!-- It will also have a Hero Unit to sign up if not signed in -->
<!-- Will either have pagination or endless scrolling -->

<!-- This page was generated with the command: -->
<!-- $ rails generate controller StaticPages home faq --no-test-framework -->
<!-- This also generated the controller file and CSS file -->
<!-- By default, this make the URL for this site: -->
<!-- localhost:3000/static_pages/home.html -->
<!-- However it is changed in config/routes.db -->

<!-- Will have an if statement to only show Hero Unit -->
<!-- if the user is not signed in -->
<textarea id="stuff"></textarea>
<span id="preview"></span>
<span class="countdown"></span>
<div class="center hero-unit">
	<h1>My Dysfunctional Workplace</h1>
	<h2>
		<%= link_to "Sign up", signup_path %> or <%= link_to "sign in", '#' %> to tell the world your horror story.
	</h2>
	<%= link_to "Sign Up!", signup_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Sign In!", '#', class: "btn btn-large btn-primary" %>
</div>
<p>
	Need to make the root_path be posts#index, then the hero unit shows up if they are not logged in.
</p>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
