<span class="red">
	<i class="icon-question-sign" href="#" id="confirmationtip" class="tips" rel="popover" data-content="
			<ul>
				<li>Be the same as the input in the Password field</li>
			</ul>
			Note:
			<ul>
				<li>We encrypt and protect all passwords</li>
					<ul><li>For more information, visit the FAQ</li></ul>
				<li>Passwords are case-sensitive</li>
			</ul>" data-original-title="Password confirmation must..."></i>
</span>