<span class="red">
	<i class="icon-question-sign" href="#" id="passwordtip" class="tips" rel="popover" data-content="
			<ul>
				<li>Be 6 or more characters</li>
			</ul>
			Note:
			<ul>
				<li>We encrypt and protect all passwords</li>
					<ul><li>For more information, visit the FAQ</li></ul>
				<li>Passwords are case-sensitive</li>
			</ul>" data-original-title="Passwords must..."></i>
</span>