<i class="icon-info-sign" href="#" id="usernametip" class="tips" rel="popover" data-content="
			<ul>
				<li>Be anonymous</li>
				<li>Be all lower-case letters and single spaces</li>
				<li>NOT start or end with a space</li>
				<li>NOT have a person's or company's name</li>
			</ul>" data-original-title="Usernames must..."></i>