<!-- This page was generated with the command: -->
<!-- $ rails generate controller Users new --no-test-framework -->
<!-- Automatically created the controller file, view, -->
<!-- the CSS file, and JS file -->

<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>
<p>Find me in app/views/users/new.html.erb</p>
